@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Senai</h1>
    <p>Acesse ao site <a href="https://www.sp.senai.br/"></a></p>
</div>
